
<%= form_for :post do |f| %>
    <div class="field">
      <%= f.label :title, "Title"%>
      <%= f.text_field :title %>
    </div>

  <div class="field">
    <%= f.label :content, 'Content'%>
    <%= f.hidden_field 'content'%>
    <trix-editor></trix-editor>
  </div>

  <div>
    <%= f.submit "Create post", class:"btn btn-primary"%>
  </div>

<% end %>

