<!--<%= form_with(model: @post, local: true) do |form| %>

  <div class="field">
    <%= form.label :title%>
    <%= form.text_field :title, class:"title-form"%>
  </div>

  <div class="field">
    <%= form.label :body%>
    <%= form.hidden_field :title, id: :post_body%>
    <trix-editor input="post-body"></trix-editor>
  </div>

  <div>
    <%= form.submit "Create post", class:"btn btn-primary"%>
  </div>

<%end%>-->

<%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="field">
    <%= label_tag :title%>
    <%= text_field_tag :title, class:"title-form"%>
    </div>

  <div class="field">
    <%= label_tag :body%>
    <%= hidden_field_tag :title, id: :post_body%>
    <trix-editor input="post-body"></trix-editor>
  </div>

  <div>
    <%= submit_tag "Create post", class:"btn btn-primary"%>
  </div>

<% end %>
