<div class="col">
  <div class="container">
    <h4><%=@post.title%></h4>
    <h6><%=@post.user.username%></h6>
  </div>
  <!-- The post itself -->
  <div class="container gray-container">
    <div class="row post-row border white-background">
      <div class="col-2 text-center">
        <span class="font-weight-bold"><%= @post.user.username%></span>
      </div>
      <div class="col-8">
        <div class="ellipsis"><%= @post.content%></div>
      </div>
      <div class="col-2">
        Likes and views
      </div>
    </div>
  </div>
  <!-- The comments -->
  <% @post.comments.each do |comment|%>
    <div class="container gray-container">
      <div class="row post-row border white-background">
        <div class="col-2 text-center">
          <span class="font-weight-bold"><%= comment.user.username%></span>
        </div>
        <div class="col-8">
          <div class="ellipsis"><%= comment.content%></div>
        </div>
        <div class="col-2">
          Likes and views
        </div>
      </div>
    </div>
  <%end%>

  <div>
    <%= form_with(model: @comment, url: post_comments_path) do |f| %>

      <div class="field">
        <%= f.hidden_field :content, id: :post_content %>
        <trix-editor input="post_content"></trix-editor>
      </div>

      <div>
        <%= f.submit "Create post", class:"btn btn-primary"%>
      </div>

    <% end %>

  
  </div>

</div>