<div class="col">
  <div class="d-flex justify-content-around">
    <div>
      <h4><%=@post.title%></h4>
      <h6><%=@post.user.username%></h6>
    </div>
    <div>
      <%if current_user.try(:is_moderator?)%>
        <div class="bootstrap-switch-container">
          <label class="boostrap-switch-label">ON</label>
        </div>
      <%else%>
      <%end%>
    </div>
  </div>
  <!-- The post itself -->
  <div class="container gray-container">
    <div class="row post-row border white-background">
      <div class="col-2 text-center">
        <span class="font-weight-bold"><%= @post.user.username%></span>
      </div>
      <div class="col-10">
        <div class="trix-content"><%=sanitize @post.content%></div>
      </div>
    </div>
  </div>
  <!-- The comments -->
  <% @post.comments.each do |comment|%>
    <div class="container gray-container">
      <div class="row post-row border white-background">
        <div class="col-2 text-center">
          <span class="font-weight-bold"><%= comment.user.username%></span>
        </div>
        <div class="col-10">
          <div class="trix-content"><%=sanitize comment.content%></div>
        </div>
      </div>
    </div>
  <%end%>

  <%= render 'comments/comment_form'%>



</div>