<h3>Total users: <%=@users.count%></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Date joined</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td><%=user.email%></td>
        <td><%=user.email%></td>
      </tr>
    <%end%>
  </tbody>
</table>