<h3>Total users: <%=@users.count%></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Date joined</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td><%=user.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= link_to 'Delete User', admin_user_path(user.id), :method => :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <%end%>
  </tbody>
</table>