<header>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", root_path, class:"navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
  <div class="mr-4"><button class= "btn btn-primary ">Create new content</button></div>
  <!--Dropdown changes depending on whether user is signed in or not.-->
  <%if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%=user.username%>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "My profile", user_path(current_user.id), class:"dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    </div>
  <%else%>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Sign up", new_user_registration_path, class:"dropdown-item" %>
        <%= link_to "Log in", new_user_session_path, class:"dropdown-item" %>
      </div>
    </div>
  <%end%>
  </div>
  </nav>

</header>
<li class="dropdown">
  <%if user_signed_in? %>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=user.username%>
      </a>
      <span class="dropdown-arrow"></span>
      <ul class="dropdown-menu">
        <li><%= link_to "My profile", user_path(current_user.id) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
      </ul>
    </div>
  <%else%>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
      <span class="dropdown-arrow"></span>
      <ul class="dropdown-menu">
        <li><%= link_to "Sign up", new_user_registration_path, %></li>
        <li><%= link_to "Log in", new_user_session_path,%></li>
      </ul>
    </div>
  <%end%>
</li>


<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
  <a class="navbar-brand" href="#">Forum</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav mr-auto">
      <li><a href="#fakelink">Menu Item<span class="navbar-unread">1</span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
        <span class="dropdown-arrow"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
      <li><a href="#fakelink">About Us</a></li>
      </ul>
      <div class="mr-4"><button class= "btn btn-primary ">Create new content</button></div>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->